{% extends 'registros/base.html' %}

{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 24rem;">
        <img src="{% static 'images/login_image.jpeg' %}" class="card-img-top" alt="Login Image">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">RUT</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                    <div class="invalid-feedback">
                        {{ form.username.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Contraseña</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                    <div class="invalid-feedback">
                        {{ form.password.errors }}
                    </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}