{% extends 'registros/base.html' %}

{% block title %}Crear Empresa{% endblock %}

{% block content %}
<div class="card p-4">
    <h1 class="mb-4">Registrar Empresa</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Por favor, corrige los siguientes errores:</strong>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    <li>{{ form.non_field_errors }}</li>
                </ul>
            </div>
        {% endif %}

        <!-- Información de la Empresa -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.nombre.id_for_label }}">Nombre</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.nombre.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.rut.id_for_label }}">RUT</label>
                {{ form.rut }}
                {% if form.rut.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.rut.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.direccion.id_for_label }}">Dirección</label>
            {{ form.direccion }}
            {% if form.direccion.errors %}
                <div class="invalid-feedback">
                    {% for error in form.direccion.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.logo.id_for_label }}">Logo</label>
            {{ form.logo }}
            {% if form.logo.errors %}
                <div class="invalid-feedback">
                    {% for error in form.logo.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.correo_electronico.id_for_label }}">Correo Electrónico</label>
                {{ form.correo_electronico }}
                {% if form.correo_electronico.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.correo_electronico.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.numero_telefono.id_for_label }}">Número de Teléfono</label>
                {{ form.numero_telefono }}
                {% if form.numero_telefono.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.numero_telefono.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Campos adicionales -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="{{ form.max_faenas.id_for_label }}">Máximo de Faenas</label>
                {{ form.max_faenas }}
                {% if form.max_faenas.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.max_faenas.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.max_usuarios.id_for_label }}">Máximo de Usuarios</label>
                {{ form.max_usuarios }}
                {% if form.max_usuarios.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.max_usuarios.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.max_maquinas.id_for_label }}">Máximo de Máquinas</label>
                {{ form.max_maquinas }}
                {% if form.max_maquinas.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.max_maquinas.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <hr class="my-4">
        <h3>Datos del Usuario Administrador</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.admin_username.id_for_label }}">Rut de Administrador</label>
                {{ form.admin_username }}
                {% if form.admin_username.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.admin_username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.admin_password.id_for_label }}">Contraseña</label>
                {{ form.admin_password }}
                {% if form.admin_password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.admin_password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.admin_first_name.id_for_label }}">Nombre</label>
                {{ form.admin_first_name }}
                {% if form.admin_first_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.admin_first_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.admin_last_name.id_for_label }}">Apellido</label>
                {{ form.admin_last_name }}
                {% if form.admin_last_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.admin_last_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="form-group">
            <label for="{{ form.admin_email.id_for_label }}">Correo Electrónico del Usuario</label>
            {{ form.admin_email }}
            {% if form.admin_email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.admin_email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-warning">Guardar Empresa</button>
    </form>
</div>
{% endblock %}